<div class="project-item" [class.is-disabled]="!projectRoute" [routerLink]="projectRoute">
  <div class="project-header">
    <h3 class="project-title">{{ project.name }}</h3>
  </div>

  @if (project.description) {
    <p class="project-description">{{ project.description }}</p>
  }

  @if (completionPercentage != null) {
    <div class="completion-row">
      <span class="completion-label">Completion</span>
      <span class="completion-value">{{ completionPercentage }}%</span>
    </div>
  }
</div>
